{% extends 'base.html' %}
{% load static %}

{% block title %}Add Invoice{% endblock %}

{% block content %}
<div class="container">
    <div class="px-4 text-center">
        <h1 class="display-5 fw-bold text-white"><strong class="text-primary">FUCK</strong>Turas</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4 text-white">
            Welcome to the invoice management app that no one knew they needed, and for a good reason! Wondering why choose our app? Don't worry, so are we.
            </p>
            <p class="lead mb-4 text-white">
                Picture a world where everyone uses the same invoice management app. Well, that's not what we're offering. 
                Our app is so unique that we don't even use it ourselves. That's right! We'd rather juggle invoices than use our own creation.
            </p>
            <p class="lead mb-4 text-white">
                Tired of innovation? Us too. That's why our app is so old-school that it makes a calculator look futuristic. 
                No artificial intelligence here, just pure financial ignorance that makes your accountant want to cry.
            </p>
            <p class="lead mb-4 text-white">
                Wondering why no one else is using our app? The answer is simple: no one knows! Not even us. But if you decide to join this exclusive 
                "Non-User" club, we promise you an experience so standard that you'll wonder why you wasted time looking for something more exciting.
            </p>
            <p class="lead mb-4 text-white">
                So, if you're ready to dive into financial mediocrity with an app that not even we recommend, download it now and get ready 
                for an invoice management experience so common that it will make you question all your tech decisions!
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3">I want to join! 😀</button>
          </div>
        </div>
      </div>
  </div>
    
{% endblock %}