{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Add customer{% endblock %}

{% block content %}
<section class="layout">
{% include 'account/_sidebar.html' %}
<div class="body animate__animated animate__slideInUp animate__delay-0.5s">
    <div class="container">
        <div class="jumbotron text-white">
          <h1 class="text-white"><i class="bi bi-person-add"></i>&nbsp;&nbsp; <strong>Add customer</strong></h1>
            <p class="lead">Fill the form below with information of the new customer you want to add.</p>
            <hr class="my-4">
            <div style="max-width: 50%;">
                <form method="post">
                  {% csrf_token %}
                    <div class="row">
                      <div class="col">
                        {{ form.name|as_crispy_field}}
                      </div>
                      <div class="col">
                        {{ form.address|as_crispy_field}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        {{ form.legal_number|as_crispy_field}}
                      </div>
                      <div class="col">
                        {{ form.postal_code|as_crispy_field}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        {{ form.city|as_crispy_field}}
                      </div>
                      <div class="col">
                        {{ form.email|as_crispy_field}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        {{ form.phone|as_crispy_field}}
                      </div>
                      <div class="col">
                        {{ form.website|as_crispy_field}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        {{ form.description|as_crispy_field}}
                      </div>
                    </div>
                    <br>
                    <input type="submit" next="{{next}}" class="btn btn-primary" value="Add customer">
                  </form>
            </div>
          </div>
          <br>
    </div>
  </div>

</section>

{% endblock %}

<!-- {% for field in form %}
<div class="form-group">
  {{ field|as_crispy_field }}
</div>
{% endfor %} -->