{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Customer{% endblock %}
{% block styles %}
<link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<section class="layout">
{% include 'account/_sidebar.html' %}
<div class="body animate__animated animate__slideInUp animate__delay-0.5s">
  <h1 class="text-white"><i class="bi bi-people"></i>&nbsp;&nbsp; <strong>Customers</strong></h1>
  <hr>

  <div id="table" style="width: 100%;"></div>
  <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
  <script>
    new gridjs.Grid({
      columns: [
        { id: 'name', name: 'Name' },
        { id: 'city', name: 'City' },
        { id: 'address', name: 'Address', sort: false },
        {id: 'website', name: 'Web Site', sort: false },
        { id: 'phone', name: 'Phone Number', sort: false },
        { id: 'email', name: 'Email' },
      ],
      data: [
        {% for customer in customers %}
          {
            name: gridjs.html(`<a class='link-dark' href="{% url 'invoices:customer_detail' customer.id %}">{{customer.name}}</a>`),
            city: '{{ customer.city }}',
            address: '{{ customer.address }}',
            website: '{{ customer.website }}',
            phone: '{{ customer.phone }}',
            email: '{{ customer.email }}',
          },
        {% endfor %}
      ],
      search: {
        selector: (cell, rowIndex, cellIndex) => [0, 1, 4].includes(cellIndex) ? cell : null,
      },
      sort: true,
      pagination: true,
      style: {
    
    th: {
      'background-color': '#0d6efd',
      color: '#fff',
      'border-bottom': '3px solid #ccc',
      'text-align': 'center'
    },
    td: {
      'text-align': 'center'
    }
  }
    }).render(document.getElementById('table'));
  </script>
  </div>

</section>

{% endblock %}

{% block js %}
{% endblock %}